@import "tailwindcss";


@font-face {
  font-family: "Kenney Future";
  src: url("../../fonts/Kenney Future.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kenney Future Narrow";
  src: url("../../fonts/Kenney Future Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: "Kenney Future", sans-serif;
  --font-secondary: "Kenney Future Narrow", sans-serif;
}


body {
  font-family: var(--font-primary);
}


/* Se puede utilizar para alertas*/
@keyframes brillo { 
  0% { text-shadow: 0 0 5px #383434; }
  100% { text-shadow: 0 0 20px rgb(249, 253, 5); }
}