@font-face {
  font-family: "Kenney Future";
  src: url("../../fonts/Kenney Future.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kenney Future Narrow";
  src: url("../../fonts/Kenney Future Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("../../fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo2 Italic";
  src: url("../../fonts/Exo2-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-primary: "Kenney Future", sans-serif;
  --font-secondary: "Exo2", sans-serif;
  --primary-text: #414141;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
}
.primary-text{
  color: var(--primary-text);
}
.font-primary {
  font-family: var(--font-primary);
}

